/* Common CSS */

*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333333;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Grand Hotel', cursive;
    text-transform: capitalize;
}

p{
    font-family: 'Montserrat', sans-serif;
}

a.btn{
    text-transform: uppercase;
    background-color: #ffc200;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 30px 70px;
    transition: transform 500ms ease-in-out 25ms;
}

a.btn:hover{
    background-color: #f1f1f1;
    color: #333333;
    transform: scale(.9);
}

.title{
    color:#ffc200;
    font-size: 100px;
}
p.sub-title{
    color: #f1f1f1;
    font-size: 30px;
}

/* Header Section */
header{
    /* position: sticky;
    top: 0; */
    margin-bottom: -155px;
}

nav a.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding: 50px 30px!important;
    color: #f1f1f1;
}

/* Hero Section */
#hero_section{
    padding: 260px 0;
    width: 100%;
    background: url(../images/hero_img.png) no-repeat top left;
    background-size: cover;
}

#hero_section .text-area h1{
    color: #ffc200;
    font-size: 150px;
}

#hero_section .text-area p{
    font-size: 35px;
    color: #f1f1f1;
    line-height: 3rem;
    margin-top: 40px;
    margin-bottom: 70px;
}


/* 
font-family: 'Aboreto', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Montserrat', sans-serif;
text color -> #f1f1f1, #ffc200, #333333
*/


/* Best Sells Section */

#best_sells_section{
    padding-top: 150px;
    padding-bottom: 150px;
}

#best_sells_section .title{
    color: #333333;
}

#best_sells_section .sub-title{
    padding: 40px 50px 80px;
    color: #333333;
}

#best_sells_section .best_sells_item img{
    width: 80%;
}

#best_sells_section .best_sells_item h3{
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 15px;
}

#best_sells_section .best_sells_item p{
    font-size: 23px;
}

/* Call On Action Section 01 */

#call_on_action{
    
    background: url(../images/call_on_action_bg_01.png) no-repeat top right;
    background-size: cover;
}

#call_on_action .img-area{
    padding-top: 200px;
}


#call_on_action .text-area{
    padding-top: 230px;
}

#call_on_action .text-area p{
    margin-top: 25px;
    margin-bottom: 35px;
}

/* Statistic Section */

#statistic_section{
    padding-top: 115px;
    background: #303030;
}

#statistic_section .warpper{
    background-image: url(../images/statistic_bg.png);
    background-size: cover;
    padding-bottom: 340px;
}

#statistic_section .statistic-item .border-part{
    border: 5px solid #f1f1f1;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    transition: transform 500ms ease-in-out 25ms, .4s;
}

#statistic_section .statistic-item .border-part p.number{
    font-size: 50px;
    color: #ffc200;
}

#statistic_section .statistic-item .border-part p{
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0!important;
    text-transform: uppercase;
}

#statistic_section .statistic-item .border-part:hover{
    background: #f1f1f1;
    transform: translateY(-20px);
}

#statistic_section .statistic-item .border-part:hover p{
    color: #333333;
}

/* Call On Action Section 02 */

#call_on_action_two{
    background: url(../images/call_on_action_bg_02.png) no-repeat bottom right;
    background-size: cover;
}

#call_on_action_two .row{
    padding-top: 100px;
}

#call_on_action_two .img-area{
    padding-top: 50px;
}


#call_on_action_two .text-area{
    padding-bottom: 230px;
}

#call_on_action_two .text-area p{
    margin-top: 25px;
    margin-bottom: 35px;
}

/* Lenora Field Section */

#lenora_section{
    background: url(../images/lenora_field_bg.png) no-repeat center center;
    background-size: cover;
    margin-top: 100px;
    position: relative;
}

#lenora_section .overlay{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background: #ffc400ca;
}

#lenora_section .title, #lenora_section .sub-title{
    color: #333333;
}

#lenora_section .row{
    padding-top: 300px;
    padding-bottom: 300px;
}


/* Newsletter Section */

#newsletter_section{
    background-color: #f4f4f4;
}

#newsletter_section .container{
    background-image: url(../images/statistic_bg.png);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 140px;
}

#newsletter_section .title, #newsletter_section .sub-title{
    color: #333333;
}

#newsletter_section .subscribe_field{
    margin-top: 50px;
}

#newsletter_section .subscribe_field .input-group{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 120px -20px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 0px 120px -20px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 120px -20px rgba(0,0,0,0.68);
}

#newsletter_section .subscribe_field button{
    font-size: 30px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    background: #ffc200;
    color: #333333;
    border: none;
}

#newsletter_section .subscribe_field .input-group-lg>.form-control{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    border: none;
}

/* Footer Section */

#footer_section{
    background-color: #303030;
    padding: 250px 0px;
}

#footer_section h3{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #f1f1f1;
    padding-bottom: 20px;
}

#footer_section p{
    color: #f1f1f1;
    padding-right: 100px;
    font-size: 21px;
}

#footer_section ul.link-list{
    padding: 0;
}

#footer_section ul.link-list li{
    margin-bottom: 10px;
    transition: transform 500ms ease-in-out 25ms;
}

#footer_section ul.link-list li a{
    color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    
}

#footer_section ul.link-list li:hover{
    transform: translateX(10px);
}

#footer_section ul.social_icons{
    padding: 0;
    margin-top: 40px;
}

#footer_section ul.social_icons li{
    display: inline-block;
    margin-right: 25px;
}

#footer_section ul.social_icons a{
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #f1f1f1;
    border-radius: 50px;
    position: relative;
    transition: transform 500ms ease-in-out 25ms;
}

#footer_section ul.social_icons a:hover{
    transform: translate(-10px, 10px);
}

#footer_section ul.social_icons a i{
    color: #333333;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





